@charset "UTF-8";
/* dialog */
* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  outline: none;
}
h1 {
  font-size: 16px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 13px;
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1c1e20;
  color: #fff;
  font-family: "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 500;
}
body app-root {
  display: flex;
}
app-sidebar {
  width: 256px;
}
app-chats {
  width: 370px;
}
app-chat-area {
  flex-grow: 2;
}
app-help-desk {
  width: 370px;
}
::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  border-radius: 2px;
  background-color: #2f3136;
}
::-webkit-scrollbar-thumb {
  background-color: #555657;
  border-radius: 2px;
}
.hovered-icon path {
  transition: 0.2s;
}
.hovered-icon:hover path {
  stroke: #fff;
  transition: 0.2s;
}
.chat-item__notification {
  display: flex;
  flex-direction: row-reverse;
  min-height: 20px;
}
.chat-item__dot-notification {
  height: 6px;
  width: 6px;
  background: #ff3b30;
  border-radius: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
.chat-item__mobile-notification {
  padding: 2px 6px;
  font-size: 12px;
  background: #ff3b30;
  border-radius: 10px;
  position: absolute;
  top: -3px;
  right: -9px;
  display: none;
}
.notification {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #4cd964;
  position: relative;
  font-weight: 400;
}
.notification:not(:first-child) {
  margin-right: -2px;
}
.notification.orange {
  background-color: #ff8d36;
}
.notification.red {
  background-color: #ff3b30;
}
.notification.disable {
  font-size: 13px;
  background-color: #31486d;
}
.notification.anchor {
  padding: 0px;
  background-color: #31486d;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  text-align: center;
}
.notification.anchor img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* search header */
.chats__header,
.help-desk__header {
  padding: 12px 16px 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  width: 100%;
  padding: 8px;
  position: relative;
  background-color: #333436;
  border-radius: 8px;
}
.search img {
  position: absolute;
}
.search-input {
  width: 100%;
  padding-left: 60px;
  font-size: 13px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
}
.search-input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 400;
}
.chats__header_icon,
.help-desk__header_icon {
  padding: 8px;
  background-color: #333436;
  border-radius: 8px;
  margin-left: 8px;
}
/* search header */
@media screen and (max-width: 1360px) {
  app-sidebar {
    width: 72px;
  }
}
@media screen and (max-width: 1023px) {
  app-chats {
    width: 320px;
  }

  app-chats {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  app-chats {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  app-root {
    flex-direction: column-reverse;
  }

  app-help-desk {
    display: none;
  }

  app-sidebar {
    height: 72px;
    width: 100%;
  }
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'), url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.woff2') format('woff2'), url('Roboto-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.woff2') format('woff2'), url('Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('Roboto-ThinItalic.woff2') format('woff2'), url('Roboto-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'), url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('Roboto-Light.woff2') format('woff2'), url('Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.woff2') format('woff2'), url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('Roboto-LightItalic.woff2') format('woff2'), url('Roboto-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'), url('Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.woff2') format('woff2'), url('Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-RegularItalic.woff2') format('woff2'), url('Roboto-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-RegularItalic';
    src: url('Roboto-RegularItalic.woff2') format('woff2'), url('Roboto-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'), url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('Roboto-Medium.woff2') format('woff2'), url('Roboto-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'), url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('Roboto-MediumItalic.woff2') format('woff2'), url('Roboto-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'), url('Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.woff2') format('woff2'), url('Roboto-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'), url('Roboto-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('Roboto-BoldItalic.woff2') format('woff2'), url('Roboto-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'), url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('Roboto-Black.woff2') format('woff2'), url('Roboto-Black.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.woff2') format('woff2'), url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('Roboto-BlackItalic.woff2') format('woff2'), url('Roboto-BlackItalic.woff') format('woff');
}


/*# sourceMappingURL=styles.css.map*/